@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
  background: #c7d8e1;
  font-family: Raleway, sans-serif;
  color: #666666;
}

.login {
  margin: 63px auto;
  padding: 40px 50px;
  max-width: 300px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 1px #666;
}

.login input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
}

.login input[type=email],
.login input[type=password] {
  border: 1px solid #c0c0c0;
  transition: .2s;
}

.login input[type=email]:hover,
.login input[type=email]:focus-visible,
.login input[type=password]:hover,
.login input[type=password]:focus-visible {
  border-color: #259cf1;
  outline: none;
  transition: all .2s ease-in-out;
}

.login input[type=submit] {
  border: none;
  background: #259cf1;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  margin: 20px 0px;
}

.login input[type=submit]:hover {
  background: #14629a;
}

.login h1 {
  color: #259cf1;
  margin: 0px;
}

.login p {
  margin-bottom: 30px;
}

.links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: space-between;
  align-items: flex-end;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
  margin-left: 5px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

.login h1,
.login p,
.login a {
  text-align: center;
}

.login a {
  font-size: 0.9em;
  color: #001fbd !important;
}

.login a:visited {
  color: inherit;
}

.login a:hover {
  text-decoration: underline;
}